[user]
	name = Tatsuya KAWAMURA
	email = kawa.xxx@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/kawamura/.gitignore_global
[color]
	ui = auto
[alias]
	st = status
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
