"---基本的なkeymap設定-----------------------------------------
" <Leader>キーを定義する
" IMEの設定によっては\がエンマークになっている可能性があるので注意
let mapleader = '\'
"<F6>  文頭にタイムスタンプを挿入してinsertモードへ移行 ----
nmap <F6> <ESC>i<C-R>=strftime("%Y/%m/%d (%a) %H:%M")<CR><CR>
" NERDTreeのペインを表示したり表示したりする
nmap <Leader>p :NERDTreeToggle<CR>
"検索結果ハイライトをEsc二回押しで消す
nmap <Esc><Esc> :nohlsearch<CR><Esc>
" ノーマルモードでEnterキー入力で改行する
nmap <CR> o<ESC>
" 編集中のファイルをブラウザで開く
nmap <Leader>w :! open %<CR><CR>

"---denite.vimのkeymap設定---------------------------------------
if dein#tap('denite.nvim')
  " denite 用プレフィックス
  nmap [denite] <Nop>
  map <Leader>u [denite]

  nnoremap <silent> [denite]b :Denite buffer<CR>
  "nnoremap <silent> [denite]c :Denite changes<CR>
  nnoremap <silent> [denite]f :Denite file<CR>
  nnoremap <silent> [denite]g :Denite grep<CR>
  nnoremap <silent> [denite]h :Denite help<CR>
  nnoremap <silent> [denite]l :Denite line<CR>
  nnoremap <silent> [denite]t :Denite tag<CR>
  nnoremap <silent> [denite]m :Denite file_mru<CR>
  nnoremap <silent> [denite]u :Denite menu<CR>
endif

"---taglistのkeymap設定------------------------------------------
map <silent> <Leader>l :TlistToggle<CR>

"--- Previmの設定 --------------------------------------------
let g:previm_open_cmd = 'open -a Firefox'


"---ヤンクしたデータをクリップボードと共有する----------------
if has('mac') && !has('gui')
    nnoremap <silent> <Space>y :.w !pbcopy<CR><CR>
    vnoremap <silent> <Space>y :w !pbcopy<CR><CR>
    nnoremap <silent> <Space>p :r !pbpaste<CR>
    vnoremap <silent> <Space>p :r !pbpaste<CR>
" GVim(Mac & Win)
else
    noremap <Space>y "+y
    noremap <Space>p "+p
endif
